h1{
    text-align: center;
   background: brown;
   color: azure;
   font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
     font-size: 20px;
    }
p span
{
    font-weight: bold;
}
* {
   
 background-color: brown;
 color: aliceblue;
}
#intro{
    background-color: aqua;
}
